.genreSelect {
  h3 {
    color: white;
    margin-bottom: 5px;
    width: 80px;
  }

  .select {
    position: relative;
    top: 6px;
    left: 20px;
    font-size: 30px;
  }

  .genreContainer {
    background-color: rgb(24, 21, 21);
    color: rgb(236, 231, 224);
    width: 120px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
    font-size: 15px;

    &:hover {
      cursor: pointer;
    }

    &:active{
      // background-color: rgba(51, 51, 51, 0.16);
      // background: linear-gradient(rgb(24, 21, 21), rgb(52, 51, 51));
    }
  }

  .listContainer {
    background-color: rgb(24, 21, 21);
    color: rgb(236, 231, 224);
    border-left: 1px solid rgb(83, 81, 81);
    border-right: 1px solid rgb(83, 81, 81);
    border-top: 1px solid rgb(83, 81, 81);
    margin-top: 0;
    transition: height 2s;
    padding-bottom: 7px;

    .list {
      display: flex;
      align-items: center;
      padding-left: 7px;
      padding-right: 7px;
      
      margin-top: 0;
      margin-right: 0;
      width: 118px;
      font-size: 14px;
      animation-name: list;
      animation-duration: 0.2s;

      @keyframes list {
        from {
          opacity: 0.1;
        };
        to {
          opacity: 1;
        }
      }
        
      
      &:hover {
        background: rgb(75, 130, 250);
        cursor: pointer;
      }
    }

      span {
        position: relative;
      }
    }

    .hov:hover {
      background-color: rgb(54, 144, 229);
    }
  }

