.mediaUl {
  position: relative;
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-gap: 15px;
  grid-column-gap: 1px;
  z-index: 1;
  transition: 2s;
  margin-left: 50px;
}

@media screen and (orientation: portrait) {
  .mediaUl {
    width: 100%;
    grid-template-columns: 50% 50%;
    grid-row-gap: 5px;
    justify-items: center;
    margin: 0;
    padding: 0;

    li{
      width: 100%;
      height: fit-content;

      div{
        img{
          height: fit-content;
        }
      }
    }
    
  }
}
