.mediaUl {
  position: relative;
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 0;
  grid-row-gap: 15px;
  grid-column-gap: 1px;
  z-index: 1;
  transition: 2s;
}

@media screen and (max-width: 1200px) {
  .mediaUl {
    grid-template-columns: auto auto auto;
  }
}

@media screen and (min-width: 1490px) {
  .mediaUl {
    grid-template-columns: auto auto auto auto auto;
  }
}

@media screen and (max-width: 970px) {
  .mediaUl {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 768px) {
  .mediaUl {
    width: 100%;
    grid-template-columns: 50% 50%;
    grid-row-gap: 5px;
    justify-items: center;
    margin: 0;
    padding: 0;

    li {
      width: 100%;
      height: fit-content;

      div {
        img {
          height: fit-content;
        }
      }
    }
  }
}
