.watchContainer {
  position: absolute;
  height: 500px;
  z-index: 3;
  width: 100%;

  .load {
    color: aliceblue;
    font-size: 150px;
  }

  .watch {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    border: none;
    height: 100%;

    .video {
      width: 100%;
      height: inherit;
      z-index: 20;
      position: absolute;
      border: 0;
    }

    .back {
      display: flex;
      align-items: center;
      position: fixed;
      top: 1rem;
      left: 1rem;
      background-color: black;
      color: white;
      z-index: 21;
    }
  }
}


@media all and (orientation: portrait) {
  .watchContainer {
    height: 100%;

    .watch {
      top: 120;
      background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;

      .video {
        height: 500px;
        width: 100%;
      }
    }
  }
}
