.mediaByGenre {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 70px;

  .mediaGenre {
    position: fixed;
    top: 55px;
    left: 30px;
    height: 700px;
    color: white;
    font-size: 23px;
  }

  h3{
    width: 10rem;
  }

  .mediaByGenreList {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media all and (orientation: portrait) {
  .mediaByGenre {
    margin: 0;
    padding-top: 200px;

    .mediaGenre {
      position: absolute;
      width: 90%;
      left: 5%;
      top: 150px;
      height: fit-content;

      h3 {
        margin: 0;
      }
    }

    .mediaByGenreList {
      width: 90%;
    }
  }
}
