.movie {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 70px;

  .genre {
    position: fixed;
    top: 55px;
    left: 30px;
    height: 700px;
    color: white;
    font-size: 23px;
  }

  .movieList {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media all and (orientation: portrait) {
  .movie {
    margin: 0;
    padding-top: 180px;

    .genre {
      position: absolute;
      width: 90%;
      left: 5%;
      top: 130px;
      height: fit-content;

      h3 {
        margin: 0;
      }
    }

    .movieList {
      width: 90%;
    }
  }
}
