.block5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 40px;
  font-size: 1.5rem;
  min-height: 350px;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;

  .blockText {
    padding-right: 50px;
    // width: 40vw;

    p {
      max-width: 500px;
      text-align: left;
    }
  }

  img {
    width: 700px;
  }
}

@media all and (orientation: portrait) {
  .block5 {
    flex-direction: column-reverse;
    width: 100%;
    height: fit-content;
    padding: 0;
    margin: 27px 0 30px 0;

    .blockText {
      width: 90%;
      text-align: center;

      h1 {
        font-size: 27px;
      }

      p {
        width: 100%;
        font-size: 18px;
        padding: 0;
      }
    }

    div {
      width: 80%;

      img {
        width: 100%;
        height: fit-content;
      }
    }
  }
}
