.personContainer {
  width: 90%;
  position: relative;
  top: 80px;
  left: 10%;
  transition: 2s;

  .menu {
    display: flex;
  }

  .personInfo {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 18px;
    margin-left: 20px;
    width: 70%;

    .infoMenu {
      border-left: 2px solid wheat;
      padding-left: 30px;
      width: 500px;
    }
  }
}

@media all and (orientation: portrait) {
  .personContainer {
    width: 100%;
    top: 150px;
    left: 0;
    min-height: 700px;

    .menu {
      flex-direction: column;
      justify-content: center;
    }

    .personInfo {
      align-items: center;
      width: 100%;
      margin-left: 0;

      .birthInfo {
        text-align: center;
        width: 80%
      }

      .infoMenu {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-left: 0px;
        padding-left: 0;
      }
    }
  }
}
