.profilePictureContainer {
  display: flex;
  position: sticky;
  top: 70px;
  margin-top: 1px;
  flex-direction: column;

  .addToFavourite {
    color: whitesmoke;
    font-size: 18px;
    display: flex;
    align-items: center;
    transition: transform 500ms;
    border-radius: 0px 0px 5px 5px;
    margin-top: 10px;
    padding: 5px;

    span {
      margin-right: 1rem;
      margin-left: 3rem;
      margin-bottom: 7px;
    }

    box-icon {
      margin: 0px;
    }
  }

  .addToFavourite:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
    transform: scale(1.05);
    color: rgb(255, 255, 255);
    z-index: 3;
  }

  .addToFavourite:active {
    color: wheat;

    box-icon {
      fill: white;
    }
  }
}

@media screen and (max-width: 768px) {
  .profilePictureContainer {
    align-items: center;
  }
}
