.results {
  position: relative;
  left: 100px;
  top: 50px;
  min-height: 450px;  
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 70%;
  color: rgb(244, 237, 228);

  .mediaBlock {
    .mediaContainer {
      display: flex;
      margin-bottom: 5px;
      width: inherit;

      .imgDiv {
        height: 150px;
        width: 250px;
        border-bottom: 1px solid rgba(0, 34, 255, 0.037);
        transition: 500ms;

        img {
          object-fit: cover;
        }
      }

      .infoDiv {
        display: flex;
        flex-direction: column;
        margin-left: 5px;
        width: 350px;

        .mediaType {
          bottom: 12px;
          left: 10px;
          font-size: 12px;
          font-style: italic;
        }
        span {
          width: 250px;
          font-size: 20px;
        }
      }
    }

    .mediaContainer:hover {
      cursor: pointer;
      color: rgb(248, 238, 222);

      .imgDiv {
        border-bottom: 1px solid blue;
      }
    }
  }
}


@media screen and (max-width: 768px) {
  .results {
    left: 0;
    top: 120px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    text-align: center;

    .mediaBlock {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .mediaContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .imgDiv{
          width: 100%
        }

        .infoDiv {
          display: inline;
          width: 100%;
        }
      }
    }
  }
}
