.results {
  position: relative;
  left: 100px;
  top: 50px;
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 70%;

  .mediaBlock {
    min-height: 350px;

    .mediaContainer {
      width: 400px;
      display: flex;
      gap: 10px;
    }

    .mediaContainer:hover {
      cursor: pointer;
    }

    span {
        width: 200px;
      font-size: 20px;
    }
  }
}
