.results {
  position: relative;
  left: 100px;
  top: 50px;
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 70%;

  .mediaBlock {
    min-height: 350px;

    .mediaContainer {
      display: flex;
      margin-bottom: 5px;
      width: 500px;

      .imgDiv{
        // min-width: inherit;
        // position: relative;
        height: 150px;
        width: 250px;

        img{
          object-fit: cover;
        }

      }
      
      .infoDiv{
        display: flex;
        flex-direction: column;
        margin-left: 5px;
        width: 350px; 
        
        .mediaType{
          // position: absolute;
          bottom: 12px;
          left: 10px;
          font-size: 12px;
          font-style: italic;
          // color: blue;
          // font-weight: 500;
          // background-color: aqua;
        }
        span{
          width: 250px;
          font-size: 20px;
        }
      }
    }

    .mediaContainer:hover {
      cursor: pointer;
    }

    
  }
}
