p {
  text-align: center;
  color: white;
  font-size: 20px;
  margin-top: 9px;
}

.form {
  display: flex; 
  align-items: center;
  justify-content: center;
  padding-bottom: 10vh;
  width: 100%;

  .field {
    height: 60px;
    width: 450px;
    float: left;
    border: none;
    border-radius: 2px 0 0 2px;
  }

  .field::placeholder {
    padding: 1vw;
  }

  .field:focus {
    border: none;
  }

  .submit {
    width: 212px;
    height: 62px;
    font-size: 26px;
    background-color: red;
    color: rgb(235, 232, 232);
    border: none;
    border-radius: 0 2px 2px 0;
  }
}

@media all and (orientation: portrait) {
  .formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .text2 {
      text-align: center;
      font-size: 18px;
      width: 80%;
      padding: 0;
      margin: 0 0 8px 0;
    }

    .form {
      width: 100%;
      margin-top: 0px;

      form {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .field {
          width: 100%;
          height: 42px;
          margin-bottom: 8px;
        }

        .submit {
          width: 50%;
          height: 42px;
          font-size: 15px;
        }
      }
    }
  }
}
