.movie {
  display: grid;
  grid-template-columns: 170px auto;
  position: relative;
  margin-top: 70px;
  min-height: 500px;
  padding: 0 27px;

  .genreSelect {
    position: relative;
    top: 15px;
  }

  .movieList {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 790px) {
  .movie {
    .movieList {
      padding-left: 30px;
      align-items: flex-start;
    }
  }
}

@media screen and (max-width: 768px) {
  .movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    padding-top: 220px;
    padding-left: 0;

    .genreSelect {
      position: absolute;
      top: 145px;
      left: 10px;
      z-index: 3;

      .select {
        padding: 0;
        position: relative;
        top: 0;
        left: 0;

        h3 {
          margin: 0;
          font-size: 24px;
        }

        .genreContainer {
          font-size: 18px;
        }

        .listContainer {
          .list {
            font-size: 18px;
          }
        }
      }
    }

    .movieList {
      justify-content: center;
      align-items: center;
      width: 95%;
      padding: 15px 0 0 0;
    }
  }
}
